.card {
   display: flex;
   justify-content: center;
}

.cardContent {
   display: flex;
   width: 90vw;
   border: 1px white solid;
   border-radius: 1vw;
   padding: 1vw;
   gap: 1vw;
}

.photoCont {
   width: 50vw;
}

.photoProj {
   max-width: 90%;
}

.descProj {
   font-size: 1.5vw;
   text-align: justify;
}
.descProj h3 {
   margin: 0;
}
.descProj span {
   font-style: italic;
}

@media (max-width: 767px) {
   .cardContent {
      flex-direction: column-reverse;
      align-items: center;
   }
   .descProj {
      font-size: 2.5vw;
   }
}