body {
   margin: 0;
   padding: 0;
   color: silver;
}

.footer {
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin-top: 0.5rem;
   background-color: black;
   padding: 0.5rem;
   font-size: 1.5vw;
}
.footer img {
   width: 8vw;
}
.footer h3 {
   margin: 0;
}
footer p {
   margin: 0;
}
.redes {
   width: 9vw;
   height: 12vh;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: end;
}
.redes img {
   width: 4vw;
   background-color: dimgray;
   border-radius: 0.5vw;
   margin-left: 0.5vw;
}

@media (max-width: 424px) {
   .footer {
      font-size: 2.5vw;
   }
   .footer img {
      width: 15vw;
   }
   .redes {
      width: 15vw;
      height: 10vh;
   }
   .redes img {
      width: 7vw;
   }
}

@media (min-width: 425px) and (max-width: 767px) {
   .footer {
      font-size: 2.5vw;
   }
   .footer img {
      width: 17vw;
   }
   .redes {
      width: 17vw;
      height: 13vh;
   }
   .redes img {
      width: 8vw;
   }
}
@media screen and (min-width: 1440px) {
   .redes {
      height: 14.5vh;
   }
}