.generalCont {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.headContent {
   width: 90vw;
   display: flex;
   border: gray solid 2px;
   border-radius: 1rem;
   padding: 2vw;
}

.photo {
   width: 40vw;
}

.photoMe {
   max-height: 100%;
   max-width: 100%;
   object-fit: cover;
}

.headerContent {
   padding-left: 2vw;
   font-size: 1.8vw;
   text-align: justify;
}
.headerContent h3 {
   line-height: 0;
   color: skyblue;
}
.headerContent h4 {
   line-height: 1.1;
}
.headerContent span {
   color: skyblue;
}
.headerContent a {
   text-decoration: none;
   color: yellow;
}

.dataCont {
   display: flex;
   border: gray solid 2px;
   border-radius: 1rem;
   width: 90vw;
   padding: 2vw;
   gap: 2vw;
}
.skillContent {
   display: flex;
   flex-direction: column;
   width: 30%;
}

.listSkills {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5vw;
}

.skills {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 30%;
   margin-bottom: 0.1vh;
   align-items: center;
   border: 1px white solid;
   line-height: 0;
   padding-top: 0.5vh;
   background-color: rgb(44, 44, 44);
   border-radius: 0.5rem;
}
.skills:hover {
   background-color: white;
   color: black;
}
.skills img {
   width: 70%;
}
.skills p {
   font-size: 1.1vw;
}

.experienceContent {
   width: 60;
}

.title {
   font-size: 2vw;
}

.ulExp {
   font-size: 1.8vw;
   color: aliceblue;
}

.titDesc {
   margin: 0;
}
.dateDesc {
   color: dimgray;
   margin: 0;
   font-style: italic;
}
.detaDesc {
   margin: 0.5vh;
}
.itemDesc {
   margin: 0;
}

@media (max-width: 767px) {
   .headContent {
      flex-direction: column;
      align-items: center;
   }
   .photo {
      width: 30vw;
   }
   .headerContent {
      font-size: 3vw;
   }
   .dataCont {
      flex-direction: column-reverse;
   }
   .listSkills {
      width: 95vw;
   }
   .skills {
      width: 15%;
   }
   .skills p {
      font-size: 2vw;
   }
   .title {
      font-size: 3vw;
   }
   .ulExp {
      font-size: 2.8vw;
   }
}
